﻿
@{
    ViewBag.Title = "Formulario1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Formulario1</h2>
<form action="RevisaForm" method="post">
    <label>Tipo De Usuario:</label>
    <select name="tipoUsuario">
        <option value="1">Profesor</option>
        <option value="2">Alumno</option>
    </select>
    <br />
    <input type="text" name="nombre" />
    
    
    <br />
    <button type="submit">Enviar</button>
</form>

