﻿@using System.Data

@{
    ViewBag.Title = "Pagina Inical";

    ViewBag.miMensaje = "Una variable";
}

<style>
    
</style>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <h2>@ViewBag.mensaje</h2>
    <br />
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ejemplo Tabla Productos</h2>

        <table class="table table-striped table-bordered" cellpadding="0" cellspacing="0" text-align="center">
            <thead>
                <tr>
                    <th data-toggle="tooltip" title="Clic para ver los detalles" >ID Producto</th>
                    <th>Nombre</th>
                    <th>Numero de Producto</th>
                    <th>Color</th>
                    <th>Cost Estándar</th>
                    <th>Precio Lista</th>
                    <th>rowguid</th>

                </tr>
            </thead>
            <tbody>
                @foreach (DataRow miRenglon in Model.Rows)
                {
                <tr>
                    <!--<td>@miRenglon["ProductID"]</td> -->
                    <td>
                        <a href="@Url.Action("DetallesProducto", "Home", new {prodID = @miRenglon["ProductID"]}, null)">@miRenglon["ProductID"]</a>
                    </td>
                    <td>@miRenglon["Name"]</td>
                    <td>@miRenglon["ProductNumber"]</td>
                    <td>@miRenglon["Color"]</td>
                    <td>@miRenglon["StandardCost"]</td>
                    <td>@miRenglon["ListPrice"]</td>
                    <td>@miRenglon["rowguid"]</td>

                </tr>
                }
            </tbody>
        </table>

        <!--
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        -->
    </div>
    <!--
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    -->
</div>

<div class="row">

</div>

<script>

</script>
